@{
    ViewData["Title"] = "Жалобы";
}
<div class="container-section">
        <h2 class="info-sections">Написать сообщение</h2>

        <div class="block-message">
            <p>Вы можете написать нам на почту по поводу жалоб или предложений в любое время</p>

            <div class="message-text">
                <label>Сообщение:</label>
                <span></span>
                <textarea class="text"></textarea>
            </div>

            <div class="message-button">
                <button class="button" type="submit">Отправить</button>
            </div>
        </div>
</div> 


