@{
    ViewData["Title"] = "Контакты";
}

<div class="container-row">
    <div class="row-item">
        <h2>Наш Email</h2>
        <p>dubchakegor@gmail.com</p>
    </div>
        
    <div class="row-item">
        <h2>Наш телефон</h2>
        <p>+ (373) 777-556-46</p>
    </div>
        
    <div class="row-item">
        <h2>Наш адрес</h2>
        <p>г. Тирасполь, п. Магистральный,12</p>
    </div>

    <div class="contact-info-text">
        <p>Наш магазин всегда рад приветствовать вас и ждать от вас звонков и писем на электронную почту!</p>
    </div>
</div>



<div class="container-section1">          
    <h2 class="info-sections"></h2>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A656428dcf5129fd474690382bc5638c156732385560de8c0517ef29a0235b761&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>