@{
    ViewData["Title"] = "Каталог";
}

<script src="~/js/CustomProductScript.js"></script>

<div class="container-section">
    <h2 class="info-sections">Строительные материалы для вашего проекта</h2>
    <div class="card-container">
        <div class="arrow left">&#10094</div>

        <div class="card-wrapper">
            <div class="card">
                <img src="~/Images/cement.jpg" alt="card 1" />
                <h3>Бетон</h3>
                <p>Бетон — это один из самых популярных строительных материалов, широко используемый для возведения фундаментов, стен и перекрытий. Он обладает высокой прочностью, долговечностью и устойчивостью к различным погодным условиям.</p>
            </div>

            <div class="card">
                <img src="~/Images/kirpich.jpg" alt="card 2" />
                <h3>Кирпич</h3>
                <p>Кирпич — традиционный материал для строительства домов, заборов и других сооружений. Он известен своей прочностью, огнестойкостью и экологической безопасностью, что делает его идеальным выбором для любых проектов.</p>
            </div>

            <div class="card">
                <img src="~/Images/doski.jpg" alt="card 3" />
                <h3>Древесина</h3>
                <p>Древесина используется в строительстве для создания каркасов, отделки и мебели. Она придаёт теплоту и уют любому проекту, отличается экологичностью и естественной красотой.</p>
            </div>

            <div class="card">
                <img src="~/Images/utepliteli.jpg" alt="card 4" />
                <h3>Утеплители</h3>
                <p>Утеплители обеспечивают теплоизоляцию зданий, помогая снизить затраты на отопление и кондиционирование. Материалы варьируются от минеральной ваты до современных пенопластов.</p>
            </div>

            <div class="card">
                <img src="~/Images/kraski.jpg" alt="card 5" />
                <h3>Краски</h3>
                <p>Краски используются для внутренней и внешней отделки помещений. Они помогают защитить поверхности от повреждений и создают привлекательный внешний вид.</p>
            </div>

            <div class="card">
                <img src="~/Images/metaloprokat.jpg" alt="card 6" />
                <h3>Металлопрокат</h3>
                <p>Металлопрокат включает балки, трубы и листы, используемые в строительстве и ремонте. Этот материал отличается высокой прочностью и долговечностью.</p>
            </div>
        </div>

        <div class="arrow right">&#10095</div>
    </div>
</div>
