
<div class="container-section">
    <h2 class="info-sections">Главная</h2>
    <p class="text">
        В этом разделе вы сможете ознакомиться с ассортиментом строительных материалов, узнать о последних новинках и тенденциях в мире строительства, а также получить советы экспертов.
    </p>

    <div class="container">
        <div class="item">
            <img src="~/Images/cement.jpg" alt="Цемент высшего качества" class="item-image">
            <div class="text">
                <h3>Цемент: Основа любого строительства</h3>
                <p>
                    Высококачественный цемент для прочного и надежного фундамента. Подходит для любых строительных задач.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="item reverse">
            <img src="~/Images/kirpich.jpg" alt="Кирпич для строительства" class="item-image">
            <div class="text">
                <h3>Кирпич: Классический выбор для стен</h3>
                <p>
                    Красный и белый кирпич высокого качества. Идеален для возведения жилых и коммерческих зданий.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="item">
            <img src="~/Images/instrumenti.jpg" alt="Инструменты для строительства" class="item-image">
            <div class="text">
                <h3>Инструменты: Всё для удобства работы</h3>
                <p>
                    Широкий выбор инструментов: от ручных до электрических. Сделайте вашу работу быстрее и эффективнее.
                </p>
            </div>
        </div>
    </div>
</div>

