@{
    ViewData["Title"] = "Дом и строй";
}

<div class="container-section">
    <h2 class="info-sections">О нас</h2>
    <p class="text">
        Добро пожаловать в строительный магазин "Дом и строй"!

        Мы гордимся тем, что являемся надежным партнёром для профессионалов строительной отрасли и владельцев домов, которые ищут качественные материалы для реализации своих проектов. С самого первого дня нашего основания наша миссия остаётся неизменной — предоставить клиентам широкий ассортимент строительных материалов, инструментов и товаров для дома по доступным ценам.

        Почему выбирают нас:

        Широкий ассортимент: Мы предлагаем всё, что нужно для строительства, ремонта и обустройства: от цемента и кирпича до краски, сантехники и электроинструментов.

        Качество и надёжность: Наши товары от ведущих производителей гарантируют долговечность и соответствие современным стандартам.

        Профессиональная консультация: Наши специалисты всегда готовы помочь вам с выбором материалов, предоставить полезные советы и ответить на все вопросы.

        Доступные цены: Мы стремимся сделать качество доступным, предлагая выгодные условия для каждого покупателя.

        Удобство: Легкая навигация по нашему магазину, быстрая доставка и гибкие условия оплаты делают покупки у нас ещё приятнее.
    </p>
    <p class="text">
        Более 10 лет успешной работы в сфере продажи строительных материалов.

        Тысячи довольных клиентов, которые выбрали нас для своих проектов.

        Регулярное обновление ассортимента с учётом современных технологий и трендов.

        Сотрудничество с ведущими брендами строительной отрасли.

        Дополнительные услуги

        Доставка: Оперативная доставка заказов по городу и области в удобное для вас время.

        Резка и обработка материалов: Мы поможем вам адаптировать материалы под ваши нужды.

        Скидки и акции: Постоянные предложения и бонусы для наших клиентов.
    </p>
    <p class="text">
        Мы стремимся помочь нашим клиентам создавать комфортные и стильные пространства, будь то дом, офис или любое другое место. "Дом и строй" — это не просто магазин, это ваш партнёр в воплощении мечты о красивом и уютном доме.

        Спасибо, что выбираете нас. Мы всегда готовы работать для вас и с вами!
        </p>    
</div>